@keyframes --scale { to { scale: 0.7 1.5; }}
@keyframes --translate { to { translate: 0 -600px; }}
@keyframes --rotate { to { rotate: 360deg; }}

.svg {
  --anim-duration: 3000ms;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
  width: 70px;
  overflow: visible;

  .triangle-rotate {
    transform-origin: 50% 66%;
    animation: var(--anim-duration) infinite --rotate;
    animation-timing-function: var(--rotate-time);
  }

  .triangle-scale-translate {
    transform-origin: 50% 100%;
    animation:
      var(--anim-duration) var(--scale-time) infinite --scale,
      var(--anim-duration) var(--translate-time) infinite --translate;
  }
}

html, body {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

body {
  background:  radial-gradient(20vw 20vw at 10% 10%, #1846f725, transparent), radial-gradient(50vw 50vw at 90% 30%, #a100ff15, transparent), radial-gradient(40vw 40vw at 20% 90%, #a1458545, transparent), radial-gradient(30vw 30vw at 75% 70%, #4556a145, transparent), #060515;
  align-content: center;
  /* padding-top: 1 */
  
  --rotate-time: linear(0.002, 0.006 8.4%, 0.019 10%, 0.054 11.9%, 0.161 17.1%, 0.218 20.3%, 0.268 23.8%, 0.304 27.7%, 0.319 31.9%, 0.329 33.6%, 0.34 39.9%, 0.353 41.6%, 0.388 43.7%, 0.495 49.3%, 0.552 52.8%, 0.602 56.7%, 0.637 61.1%, 0.651 66%, 0.659 67.6%, 0.667 73.1%, 0.681 74.5%, 0.717 76.1%, 0.826 80.1%, 0.884 82.8%, 0.935 86.2%, 0.971 90.3%, 0.986 95.2%, 1.002);
/* https://easing-time.pages.dev/?start-value=0&end-value=110&animation-time=6000&func-precision=0.005&decimal-point=1&cps=m_0_0.9976pa_0.01023_0.99723pm_0.0838_0.99432pa_0.12041_0.99396pb_0.20155_0.68534pm_0.31904_0.68073pb_0.33763_0.66154pm_0.39928_0.66026pa_0.43642_0.65949pb_0.52445_0.35045pm_0.65968_0.34884pb_0.67894_0.33207pm_0.73085_0.33261pa_0.76799_0.333pb_0.8077_0.01649pm_0.95236_0.01425pb_0.98493_-0.00197pm_1_-0.00179&direction=normal */
  
  --translate-time: linear(0.00442, 0.00674 7.227%, 0.042326 8.6756%, 0.134361 9.7621%, 0.412258 11.6542%, 0.689393 14.515%, 0.780476 16.8123%, 0.805887 18.2657%, 0.81473 19.956%, 0.805393 21.712%, 0.779448 23.192%, 0.687234 25.4509%, 0.408051 28.0533%, 0.12926 29.795%, 0.037537 30.9781%, 0.00294 32.708%, 0.00623 38.986%, 0.041725 40.4233%, 0.13549 41.4899%, 0.420155 43.4388%, 0.70488 46.6878%, 0.79872 49.3795%, 0.825014 51.0937%, 0.83432 53.092%, 0.825171 54.9567%, 0.799308 56.5736%, 0.706999 59.1605%, 0.426945 62.4216%, 0.147063 64.4192%, 0.05497 65.4266%, 0.02026 66.697%, 0.02094 72.094%, 0.056782 73.3538%, 0.151071 74.5144%, 0.437229 77.0536%, 0.723895 80.742%, 0.818819 83.3392%, 0.845673 84.8823%, 0.85555 86.61%, 0.846526 88.3189%, 0.819963 89.8026%, 0.724229 92.1879%, 0.432383 95.2831%, 0.140134 97.3893%, 0.043899 98.5383%, 0.00761);
/* https://easing-time.pages.dev/?start-value=0&end-value=100&animation-time=6000&func-precision=0.008&decimal-point=4&cps=m_0_0.99558pa_0.01023_0.99521pm_0.07227_0.99326pa_0.11752_0.99041pb_0.10265_0.18406pm_0.19956_0.18527pa_0.30114_0.18655pb_0.2714_0.99787pm_0.32708_0.99706pm_0.38986_0.99377pa_0.43519_0.99407pb_0.41625_0.1657pm_0.53092_0.16568pa_0.63741_0.16566pb_0.62787_0.98068pm_0.66697_0.97974pm_0.72094_0.97906pa_0.757_0.97869pb_0.76875_0.14753pm_0.8661_0.14445pa_0.96366_0.14136pb_0.95519_0.99334pm_1_0.99239&direction=normal+*%2F */
  
  --scale-time: linear(0.00442, -0.075343 1.5081%, -0.248652 2.3989%, -0.421733 3.1102%, -0.50081 4.08%, -0.372098 5.8911%, -0.087536 7.8484%, 0.197136 9.8587%, 0.32618 11.829%, 0.273401 12.836%, 0.15809 13.7843%, 0.043282 15.7814%, 0.005764 17.5194%, -0.00799 19.935%, 0.007922 23.8683%, 0.041136 25.811%, 0.074142 26.8237%, 0.08943 27.967%, 0.055867 30.5875%, -0.01209 32.515%, -0.264447 33.7925%, -0.417638 34.6913%, -0.48628 36.021%, -0.359086 38.0298%, -0.078178 40.1114%, 0.202825 42.102%, 0.3303 43.838%, 0.279301 45.0886%, 0.16768 46.4568%, 0.056059 48.8018%, 0.019193 50.6092%, 0.00506 52.983%, 0.018609 56.7378%, 0.048825 59.3076%, 0.09181 62.555%, 0.054065 65.0221%, -0.01158 66.521%, -0.269294 67.957%, -0.42357 69.052%, -0.49298 70.308%, -0.364894 72.1994%, -0.080501 74.2044%, 0.204212 76.1401%, 0.33326 77.824%, 0.28061 78.962%, 0.165645 80.3171%, 0.05086 82.6445%, 0.013064 84.4087%, -0.00125 86.699%, 0.016351 88.8316%, 0.055259 91.0484%, 0.11389 94.938%, 0.097778 96.1875%, 0.059824 97.2219%, 0.02165 98.3798%, 0.00488);
/* https://easing-time.pages.dev/?start-value=-50&end-value=100&animation-time=6000&func-precision=0.008&decimal-point=4&cps=m_0_0.99558pa_0.02617_0.99789pb_0.0242_1.49972pm_0.0408_1.50081pa_0.06356_1.50231pb_0.0927_0.67291pm_0.11829_0.67382pa_0.13703_0.67449pb_0.12467_1.01pm_0.19935_1.00799pa_0.26978_1.00609pb_0.25884_0.91136pm_0.27967_0.91057pa_0.29841_0.90986pb_0.31565_0.96694pm_0.32515_1.01209pa_0.33393_1.05376pb_0.33875_1.48531pm_0.36021_1.48628pa_0.38578_1.48744pb_0.41766_0.66904pm_0.43838_0.6697pa_0.45809_0.67034pb_0.45802_0.9943pm_0.52983_0.99494pa_0.58964_0.99548pb_0.60677_0.90661pm_0.62555_0.90819pa_0.6428_0.90964pb_0.66087_0.97293pm_0.66521_1.01158pa_0.67053_1.05898pb_0.68556_1.49095pm_0.70308_1.49298pa_0.72673_1.49573pb_0.75828_0.6657pm_0.77824_0.66674pa_0.79532_0.66762pb_0.79806_1.00133pm_0.86699_1.00125pa_0.89398_1.00122pb_0.92852_0.88897pm_0.94938_0.88611pa_0.96898_0.88342pb_0.97381_0.99664pm_1_0.99512&direction=normal */
}



        body {
            overflow: hidden;
            font-family: sans-serif;
        }
        #canvas-container {
            width: 100vw;
            height: 100vh;
        }
        #loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 16px;
            pointer-events: none;
            transition: opacity 0.5s;
        }